<h1>Medication Log</h1>
<% if (user) { %>
   <p>User <%= user.name %> is logged on.</p>
   <form method="POST" action="/sessions/logoff">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
   <button>Logoff</button>
   <a href="/"><button>Main</button></a>
   <a href="/medications"><button>Medications</button></a>
   <a href="/medications/new"><button>Create New Medication</button></a>
   </form>
<% } %>
<% if (errors) {
    errors.forEach((err) => { %>
      <div>
        Error: <%= err %>
      </div>
    <% })
  } %>
  <% if (info) {
    info.forEach((msg) => { %>
      <div>
        Info: <%= msg %>
      </div>
    <% })
  } %>
<hr />