<%- include("partials/head.ejs") %> 
<%- include("partials/header.ejs") %> 
<% if (user) { %> 
    <a href="/medications/new"><button>Add New Medication</button></a> 
    <a href="/medications"><button>View/Change Medications</button></a> 
    <a href="/secretWord"><button>View/Change Secret word</button></a> 
    <% } else { %> 
        <a href="/sessions/logon">Click this link to logon.</a> 
        <a href="/sessions/register">Click this link to register.</a> <% } %> 
        <%- include("partials/footer.ejs") %>